# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
.venv/
*.pyo
*.pyd
*.pyc
*.pyd
.Python
migrations/

BE/outVoiceFile
BE/originVoice
BE/transcriptions

# Ignore the packages directory
packages/

# Ignore Docker-related files
*.log
*.pid
*.tar

# React
node_modules/
build/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
coverage/
